/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  display: flex;
  margin: auto;
  width: 40% ;
  justify-content: space-between;
  text-align: center;
 /* float: center;*/
  align-items: baseline;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
  float: right;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
.group {
  display: flex;
  flex-direction: row; /* or column */
}
.image-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* #leftbox {
padding: 5px;
float:left;
width:33%;
height:auto;
}
#middlebox{
padding: 5px;
float:left;
width:33%;
height:auto;
}
#rightbox {
padding: 5px;
float:left;
width:33%;
height:auto;
} */